black~=22.0
flake8>=3.7.9, <5.0
ipython>=7.31.1, <8.0
isort~=5.0
jupyter~=1.0
jupyterlab_server>=2.11.1, <2.16.0
jupyterlab~=3.0

#Para visualizar pipelines de Kedro
kedro-viz~=5.0

#Para trabajar con este tipo de datasets (ver documentacion)
kedro[pandas, pickle, plotly, matplotlib]==0.18.4 
kedro-telemetry~=0.2.0
nbstripout~=0.4
pytest-cov~=3.0
pytest-mock>=1.7.1, <2.0
pytest~=6.2
scikit-learn~=1.0
imbalanced-learn~=0.1

pandas-profiling~=3.6

feature-engine~=1.5